
.productos {
    display: flex;

    background-color: blue;
    padding: 10px;
    flex-wrap: wrap;
}

.productos > div {
    width: 50%;
    height: 20%;
    background-color: red;
    margin: 5px;
    overflow-y: auto;
}